.m0{
    margin: 0 auto;
}

.d-flex{
    display: flex;
}

.tc{
    text-align: center;
}

.btn1{
    padding: 8px 32px;
    background: #FF5D50 0% 0%;
    border-radius: 22px;
    text-align: center;
    text-decoration: none;
    color:white;
    font: normal normal normal 16px/24px Noto Sans TC;
}

.btn2{
    padding: 12px 32px;
    background: #56C4C5 0% 0%;
    border-radius: 22px;
    text-align: center;
    text-decoration: none;
    color:white;
    font: normal normal normal 16px/24px Noto Sans TC;
}

